.product-slide, product-info {
    width: 22%;
}

.product-item {
    width: 22%
}

.scroll-product .product-item {
    width: 40%;
    padding: 0 6px;
}

.product a {
    text-decoration: none;
    color: black;
}

.product-details {
    white-space: nowrap;
    overflow: hidden;
}

.category-list {
    overflow: hidden;
    display: flex;
    scroll-behavior: smooth;
    white-space: nowrap;
}
.category img {
    width: 150px;
    padding: 0 10px;
    justify-content: center
}

.category div {
    text-align:center;
}
.product-item{
    margin-left:0.5%;
}

.cate {
    display: flex;
    justify-content: space-between;
}

.cate-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19%;
    height: 50px;
    background-color: #f2f2f260;
    font-size: 20px;
    font-weight: 700;
    text-transform:uppercase;
}
    .cate-item.active {
        position: relative;
    }
        .cate-item.active::after {
            content: '';
            opacity: 1;
            height: 4px;
            width: 35px;
            background-color: red;
            border-radius: 3px;
            position: absolute;
            left: 50%;
            bottom: -2px;
            transform: translateX(-50%);
        }
.filter-box{
    width:130px;
    height:30px;
    margin-left: 30px;
    justify-content:space-around;
    align-items:center;
    border: 1px solid #c4c4c4;
}

/*Index.Home*/
.product-slide, product-info {
    width: 22%;
}

.product-item {
    width: 22%;
}
.foote-social .bi{
    color: black;
    font-size: 20px;
    margin: 5px;    
}
.newprod .tab-pane {
    overflow: hidden;
    height: 1200px;
}

/*Test*/
.reponsive-color-border {
    width: 25px;
    height: 25px;
}
.reponsive-color{
    width:100%;
    height:100%;
}
.reponsive-text{
    font-size:100%;
}

