
@{
    ViewBag.Title = "Girl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <div class="banner">
        <img style="width:100%" src="~/Content/WebBanHangOn/Images/Banner/Nu_banner-cate_desktop-19.04a.jpg" />
    </div>
    <div class="container" style="margin-top:100px">
        <div class="category d-flex">
            <div class="navigation mt-2 d-flex">
                <button id="prevBtn" class="btn" style="font-size:30px; margin-right:20px"><</button>
            </div>
            <div class="scroll-container d-flex overflow-hidden">
                <div class="item flex-shrink-0">
                    <img class="w-100" src="~/Content/WebBanHangOn/Images/Category/1-Ao-phong_nu_desktop.jpg" />
                    <div class="text-uppercase">Áo phông</div>
                </div>
                <div class="item flex-shrink-0">
                    <img class="w-100" src="~/Content/WebBanHangOn/Images/Category/2-Bo-mac-nha_nu_desktop-03.jpg" />
                    <div class="text-uppercase">Bộ mặc nhà</div>
                </div>
                <div class="item flex-shrink-0">
                    <img class="w-100" src="~/Content/WebBanHangOn/Images/Category/3-VAy-lien_nu_desktop.jpg" />
                    <div class="text-uppercase">váy liền thân</div>
                </div>
                <div class="item flex-shrink-0">
                    <img class="w-100" src="~/Content/WebBanHangOn/Images/Category/4-Ao-kieu_nu_desktop_03.jpg" />
                    <div class="text-uppercase">Áo kiểu</div>
                </div>
                <div class="item flex-shrink-0">
                    <img class="w-100" src="~/Content/WebBanHangOn/Images/Category/5-Ao-chong-nang_nu_desktop.jpg" />
                    <div class="text-uppercase">Áo chống nắng</div>
                </div>
                <div class="item flex-shrink-0">
                    <img class="w-100" src="~/Content/WebBanHangOn/Images/Category/6-Quan-soc_nu_desktop.jpg" />
                    <div class="text-uppercase">Quần soóc</div>
                </div>
                <div class="item flex-shrink-0">
                    <img class="w-100" src="~/Content/WebBanHangOn/Images/Category/7-Quan-jeans_nu_desktop.jpg" />
                    <div class="text-uppercase">Quần Jean</div>
                </div>
                <div class="item flex-shrink-0">
                    <img class="w-100" src="~/Content/WebBanHangOn/Images/Category/8-Do-lot_nu_desktop.jpg" />
                    <div class="text-uppercase">Đồ lót</div>
                </div>
                <div class="item flex-shrink-0">
                    <img class="w-100" src="~/Content/WebBanHangOn/Images/Category/9-Ao_nu_desktop.jpg" />
                    <div class="text-uppercase">Áo</div>
                </div>
                <div class="item flex-shrink-0">
                    <img class="w-100" src="~/Content/WebBanHangOn/Images/Category/10-Quan_nu_desktop.jpg" />
                    <div class="text-uppercase">Quần</div>
                </div>
                <div class="item flex-shrink-0">
                    <img class="w-100" src="~/Content/WebBanHangOn/Images/Category/11-VAy_nu_desktop.jpg" />
                    <div class="text-uppercase">Váy</div>
                </div>
                <div class="item flex-shrink-0">
                    <img class="w-100" src="~/Content/WebBanHangOn/Images/Category/12-Do-mac-nha_nu_desktop.jpg" />
                    <div class="text-uppercase">Đồ mặc nhà</div>
                </div>
                <div class="item flex-shrink-0">
                    <img class="w-100" src="~/Content/WebBanHangOn/Images/Category/13-Do-mac-ngoai_nu_desktop.jpg" />
                    <div class="text-uppercase">Đồ mặc nữ</div>
                </div>
                <div class="item flex-shrink-0">
                    <img class="w-100" src="~/Content/WebBanHangOn/Images/Category/14-Phu-kien_nu_desktop.jpg" />
                    <div class="text-uppercase">Phụ kiện</div>
                </div>
                <div class="item flex-shrink-0">
                    <img class="w-100" src="~/Content/WebBanHangOn/Images/Category/15-Do-dung-cA-nhan_nu_desktop.jpg" />
                    <div class="text-uppercase">Đồ dụng cá nhân</div>
                </div>
            </div>
            <div class="navigation mt-2 d-flex">
                <button id="nextBtn" class="btn" style="font-size:30px; margin-left:20px">></button>
            </div>
        </div>
        <div class="" style="border-top: 1px solid black; height:500px; margin-top:100px">
            <div class="p-0">
                <div class=" d-flex justify-content-between" style="margin-top:30px">
                    <div class="text-uppercase"><h5>chào thu</h5></div>
                    <div class="text-uppercase"><a>xem thêm>></a></div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="col-3">
                        <img class="w-100" src="~/Content/WebBanHangOn/Images/Slide/ChaoThu_slide_desktop-18.09.jpg" />
                    </div>
                    <div class="col-9 ">
                        <div class="product d-flex position-relative" style="margin: 0 10px">
                            <div class="navigation mt-2">
                                <i class="bi bi-arrow-left-short position-absolute" id="prevBtnP" style="font-size:30px; top:40%; left:20px"></i>
                            </div>
                            <div class="scroll-product d-flex overflow-hidden">
                                <div class="product-item flex-shrink-0">
                                    <img class="w-100" src="~/Content/WebBanHangOn/Images/Products/8th23w007-sa818-2.jpg" />
                                    <div class="product-title">Áo sơ mi tay dài nam bamboo trơn dáng suông</div>
                                    <div class="price">419.300đ</div>
                                    <div class="discount"><span class="text-decoration-line-through">599.000đ</span> <span style="color:red">-30%</span></div>
                                </div>
                                <div class="product-item flex-shrink-0">
                                    <img class="w-100" src="~/Content/WebBanHangOn/Images/Products/8th23w007-sa818-2.jpg" />
                                    <div class="product-title">Áo sơ mi tay dài nam bamboo trơn dáng suông</div>
                                    <div class="price">419.300đ</div>
                                    <div class="discount"><span class="text-decoration-line-through">599.000đ</span> <span style="color:red">-30%</span></div>
                                </div>
                                <div class="product-item flex-shrink-0">
                                    <img class="w-100" src="~/Content/WebBanHangOn/Images/Products/8th23w007-sa818-2.jpg" />
                                    <div class="product-title">Áo sơ mi tay dài nam bamboo trơn dáng suông</div>
                                    <div class="price">419.300đ</div>
                                    <div class="discount"><span class="text-decoration-line-through">599.000đ</span> <span style="color:red">-30%</span></div>
                                </div>
                                <div class="product-item flex-shrink-0">
                                    <img class="w-100" src="~/Content/WebBanHangOn/Images/Products/8th23w007-sa818-2.jpg" />
                                    <div class="product-title">Áo sơ mi tay dài nam bamboo trơn dáng suông</div>
                                    <div class="price">419.300đ</div>
                                    <div class="discount"><span class="text-decoration-line-through">599.000đ</span> <span style="color:red">-30%</span></div>
                                </div>
                                <div class="product-item flex-shrink-0">
                                    <img class="w-100" src="~/Content/WebBanHangOn/Images/Products/8th23w007-sa818-2.jpg" />
                                    <div class="product-title">Áo sơ mi tay dài nam bamboo trơn dáng suông</div>
                                    <div class="price">419.300đ</div>
                                    <div class="discount"><span class="text-decoration-line-through">599.000đ</span> <span style="color:red">-30%</span></div>
                                </div>
                            </div>
                            <div class="navigation mt-2">
                                <i class="bi bi-arrow-right-short position-absolute" id="nextBtnP" style="font-size:30px; top:40%; right:0"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const scrollContainer = document.querySelector('.scroll-container');
        const prevBtn = document.getElementById('prevBtn');
        const nextBtn = document.getElementById('nextBtn');

        nextBtn.addEventListener('click', () => {
            scrollContainer.scrollBy({
                left: 400, // Điều chỉnh theo chiều rộng item
                behavior: 'smooth'
            });
        });

        prevBtn.addEventListener('click', () => {
            scrollContainer.scrollBy({
                left: -400,
                behavior: 'smooth'
            });
        });
        const scrollProduct = document.querySelector('.scroll-product');
        const prevBtnP = document.getElementById('prevBtnP');
        const nextBtnP = document.getElementById('nextBtnP');
        nextBtnP.addEventListener('click', () => {
            scrollProduct.scrollBy({
                left: 350, // Điều chỉnh theo chiều rộng item
                behavior: 'smooth'
            });
        });

        prevBtnP.addEventListener('click', () => {
            scrollProduct.scrollBy({
                left: -350,
                behavior: 'smooth'
            });
        });
    </script>
</div>



