
@{
    ViewBag.Title = "NewProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "NewProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="banner p-0 m-0">
        <img src="~/Images/Banner/SpMoi_cate_desktop-30Sep.jpg" class="w-100" />
    </div>
    <div class="container newprod" style="margin-top:70px">
        <div class="cate" role="tablist">
            <div class="cate-item active" id="tatca-tab" role="presentation" data-bs-toggle="tab" data-bs-target="#tatca" aria-selected="true">
                <span class="">Tất cả</span>
            </div>
            <div class="cate-item" type="button" id="nu-tab" role="presentation" data-bs-toggle="tab" data-bs-target="#nu" aria-selected="true">
                <span class="">Nữ</span>
            </div>
            <div class="cate-item" type="button" id="nam-tab" role="presentation" data-bs-toggle="tab" data-bs-target="#nam" aria-selected="true">
                <span class="">Nam</span>
            </div>
            <div class="cate-item" type="button" id="betrai-tab" role="presentation" data-bs-toggle="tab" data-bs-target="#betrai" aria-selected="true">
                <span class="">Bé trai</span>
            </div>
            <div class="cate-item" type="button" id="begai-tab" role="presentation" data-bs-toggle="tab" data-bs-target="#begai" aria-selected="true">
                <span class="">Bé gái</span>
            </div>
        </div>
        <div style="margin-top:50px">
            <div class="d-flex justify-content-between">
                <div class="" style="margin-top: 30px">
                    <span class="fw-bold">Bộ lọc:</span>
                    <div class="filter-box btn-group">
                        <span>Khoảng giá</span>
                        <span class="filter-box-icon">
                            <i class="bi bi-caret-down"></i>
                        </span>
                    </div>
                    <div class="filter-box btn-group">
                        <span>Kích cở</span>
                        <span class="filter-box-icon" id="filter-box-icon">
                            <i class="bi bi-caret-down"></i>
                        </span>
                    </div>
                </div>
                <div class="" style="margin-top: 30px">
                    <span class="filter-box-icon">
                        <i class="bi bi-list-task"></i>
                    </span>
                    <span class="">Sắp xếp theo</span>
                    <span class="filter-box-icon">
                        <i class="bi bi-caret-down"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="tab-content">
            @*Trang Hiện thị tất cả sản phẩm*@
            <div class="tab-pane fade show active" role="tabpanel" id="tatca" aria-labelledby="tatca-tab">
                <div class="product mt-4 justify-content-between d-flex">
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông dài tay bé gái có hình in Minnie</div>
                            </a>
                            <div class="price">99.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">399.000đ</span> <span style="color:red">-50%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">129.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">269.000đ</span> <span style="color:red">-52%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">149.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">349.000đ</span> <span style="color:red">-57%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">149.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">349.000đ</span> <span style="color:red">-57%</span></div>
                        </div>
                    </div>

                </div>
                <div class="product mt-4 justify-content-between d-flex">
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông dài tay bé gái có hình in Minnie</div>
                            </a>
                            <div class="price">99.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">399.000đ</span> <span style="color:red">-50%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">129.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">269.000đ</span> <span style="color:red">-52%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">149.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">349.000đ</span> <span style="color:red">-57%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">149.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">349.000đ</span> <span style="color:red">-57%</span></div>
                        </div>
                    </div>
                </div>
                <div class="product mt-4 justify-content-between d-flex">
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông dài tay bé gái có hình in Minnie</div>
                            </a>
                            <div class="price">99.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">399.000đ</span> <span style="color:red">-50%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">129.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">269.000đ</span> <span style="color:red">-52%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">149.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">349.000đ</span> <span style="color:red">-57%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">149.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">349.000đ</span> <span style="color:red">-57%</span></div>
                        </div>
                    </div>
                </div>
                <div class="product mt-4 justify-content-between d-flex">
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông dài tay bé gái có hình in Minnie</div>
                            </a>
                            <div class="price">99.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">399.000đ</span> <span style="color:red">-50%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">129.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">269.000đ</span> <span style="color:red">-52%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">149.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">349.000đ</span> <span style="color:red">-57%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">149.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">349.000đ</span> <span style="color:red">-57%</span></div>
                        </div>
                    </div>
                </div>
                <div class="product mt-4 justify-content-between d-flex">
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông dài tay bé gái có hình in Minnie</div>
                            </a>
                            <div class="price">99.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">399.000đ</span> <span style="color:red">-50%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">129.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">269.000đ</span> <span style="color:red">-52%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">149.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">349.000đ</span> <span style="color:red">-57%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">149.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">349.000đ</span> <span style="color:red">-57%</span></div>
                        </div>
                    </div>
                </div>
                <div class="product mt-4 justify-content-between d-flex">
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông dài tay bé gái có hình in Minnie</div>
                            </a>
                            <div class="price">99.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">399.000đ</span> <span style="color:red">-50%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">129.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">269.000đ</span> <span style="color:red">-52%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">149.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">349.000đ</span> <span style="color:red">-57%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">149.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">349.000đ</span> <span style="color:red">-57%</span></div>
                        </div>
                    </div>
                </div>
                <div class="product mt-4 justify-content-between d-flex">
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông dài tay bé gái có hình in Minnie</div>
                            </a>
                            <div class="price">99.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">399.000đ</span> <span style="color:red">-50%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">129.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">269.000đ</span> <span style="color:red">-52%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">149.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">349.000đ</span> <span style="color:red">-57%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">149.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">349.000đ</span> <span style="color:red">-57%</span></div>
                        </div>
                    </div>
                </div>
            </div>
            @*Trang hiện thị sản phẩm nu*@
            <div class="tab-pane fade" role="tabpanel" id="nu" aria-labelledby="nu-tab">
                <div class="product mt-4 justify-content-between d-flex">
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông dài tay bé gái có hình in Minnie</div>
                            </a>
                            <div class="price">99.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">399.000đ</span> <span style="color:red">-50%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">129.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">269.000đ</span> <span style="color:red">-52%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">149.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">349.000đ</span> <span style="color:red">-57%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">149.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">349.000đ</span> <span style="color:red">-57%</span></div>
                        </div>
                    </div>
                </div>

            </div>
            @*Hiện thị sản phâm nam*@
            <div class="tab-pane fade" role="tabpanel" id="nam" aria-labelledby="nam-tab">
                <div class="product mt-4 justify-content-between d-flex">
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông dài tay bé gái có hình in Minnie</div>
                            </a>
                            <div class="price">99.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">399.000đ</span> <span style="color:red">-50%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">129.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">269.000đ</span> <span style="color:red">-52%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">149.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">349.000đ</span> <span style="color:red">-57%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">149.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">349.000đ</span> <span style="color:red">-57%</span></div>
                        </div>
                    </div>
                </div>

            </div>
            @*Hiện thị sản phâm be trai*@
            <div class="tab-pane fade" role="tabpanel" id="betrai" aria-labelledby="betrai-tab">
                <div class="product mt-4 justify-content-between d-flex">
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông dài tay bé gái có hình in Minnie</div>
                            </a>
                            <div class="price">99.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">399.000đ</span> <span style="color:red">-50%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">129.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">269.000đ</span> <span style="color:red">-52%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">149.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">349.000đ</span> <span style="color:red">-57%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">149.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">349.000đ</span> <span style="color:red">-57%</span></div>
                        </div>
                    </div>
                </div>

            </div>
            @*Hiện thị sản phâm bé gái*@
            <div class="tab-pane fade" role="tabpanel" id="begai" aria-labelledby="begai-tab">
                <div class="product mt-4 justify-content-between d-flex">
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông dài tay bé gái có hình in Minnie</div>
                            </a>
                            <div class="price">99.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">399.000đ</span> <span style="color:red">-50%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">129.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">269.000đ</span> <span style="color:red">-52%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">149.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">349.000đ</span> <span style="color:red">-57%</span></div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-info">
                            <a href="#">
                                <img class="product-img" style="width:100%" src="https://placehold.co/400x600" />
                                <div class="product-color d-flex" style="margin: 15px 0">
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width:30px; height:30px; margin-right:10px">
                                        <div class=" rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px; margin-right: 10px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center border-dark border rounded-circle" style="width: 30px; height: 30px ">
                                        <div class="rounded-circle bg-danger" style="width:20px; height:20px" type="button"></div>
                                    </div>
                                </div>
                                <div class="product-details">Áo phông nam cotton có hình in Mickey dáng suông</div>
                            </a>
                            <div class="price">149.000đ</div>
                            <div class="discount"><span class="text-decoration-line-through">349.000đ</span> <span style="color:red">-57%</span></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="d-flex justify-content-center" style="margin-top: 70px" type="button">
            <span class="text-uppercase" id="btnAProd">Xem tất cả</span>
        </div>
    </div>
    <script>
        const cateItems = document.querySelectorAll('.cate-item');

        cateItems.forEach(item => {
            item.addEventListener('click', function () {
                // Xóa class 'active' khỏi tất cả các mục
                cateItems.forEach(cate => cate.classList.remove('active'));

                // Thêm class 'active' vào mục được bấm
                this.classList.add('active');
            });
        });
        $(document).ready(function () {
            
            $('#btnAProd').click(function () {
                // Lấy tab đang hiển thị
                var currentTab = $('.tab-pane.active');
                // Lấy chiều cao tối đa của tab hiện tại
                var maxHeight = currentTab.prop('scrollHeight');
                // Lấy chiều cao hiện tại của phần tử có class "box"
                var currentHeight = currentTab.height();
                // Cộng thêm 600px vào chiều cao hiện tại nếu chiều cao chưa đạt tối đa
                if (currentHeight < maxHeight) {
                    currentTab.css('height', currentHeight + 600 + 'px');
                }
                // Kiểm tra nếu chiều cao hiện tại đã đạt tối đa
                if (currentTab.height() >= maxHeight) {
                    // Ẩn nút "Xem tất cả" khi chiều cao đạt tối đa
                    $('#btnAProd').hide();
                }                
            });
            $('[data-bs-toggle="tab"]').on('show.bs.tab', function (e) {
                // Lấy tab đang hiển thị
                var target = $(e.target).attr("data-bs-target");

                // Reset chiều cao của tab đang hiển thị về giá trị mặc định
                $(target).css('height', '1200px'); // Chiều cao lý tưởng cho tab hiện tại
                // Hiển thị lại nút "Xem tất cả" khi chuyển sang tab mới
                $('#btnAProd').show();


            });
        });
    </script>
</div>



